[Unit]
Description=todoAPI application
After=network.target

[Service]
User=aqib
Group=aqib
WorkingDirectory=/home/aqib/app/api/
Environment="PATH=/home/aqib/app/venv/bin"
EnvironmentFile=/home/aqib/.env
ExecStart=/home/aqib/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target